<div class="container-detail">
  <p class="card-title">{{rutina.name}}</p>
  <button class="start-button anchor-button">Start</button>
  {{#each workout }}
    <div class="workout-row">
      <div class="title-container">
        <p class="exercise-name">{{name}}</p>
      </div>
      <div class="input-container">
        <input class="input-workout" type="number" /><span>Rep.</span>
        <input class="input-workout" type="number" /><span>Kg.</span></div>
      <div class="button-container">
        <a class="anchor-button" href="">Exercise detail</a>
        <button class="anchor-button">Done</button>
        <form action="/delete/{{_id}}/{{../rutina._id}}" method="post">
          <button type="submit" class="anchor-button">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
  <a href="/exercises/{{rutina._id}}" class="anchor-button add-workout">Add an exercise</a>

</div>