<div class="container-detail">
  <p class="card-title">{{rutina.name}}</p>
  <p class="card-title">{{date}}</p>
  {{#if rutina.done}}
  <p class="card-title">{{rutina.timer}}</p>
  {{/if}}
  <button hidden id="timerButton" value="stop"></button>
  {{#each workout }}
    <div class="workout-row">
      <div class="title-container">
        <p class="exercise-name">{{name}}</p>
      </div>
      {{#if ../rutina.done}}
        <div class="value-container">
          {{#if workout.needtime}}
            <p>{{time}}</p>
          {{else}}
            <p>Rep. : {{repetition}} | Kg. : {{weight}}</p>
          {{/if}}
        </div>
      {{else}}
        <div class="input-container">
          <form action="/edit/{{_id}}/{{../rutina._id}}" method="POST">
          {{#if workout.needtime}}
          <input name="time" class="input-workout" type="number" value="{{time}}"/><span>Time</span>
          {{else}}
          <input name="repetition" class="input-workout" type="number" value="{{repetition}}"/><span>Rep.</span>
          <input name="weight" class="input-workout" type="number" value="{{weight}}"/><span>Kg.</span>
          {{/if}}
          <button type="submit" class="anchor-button">Save</button>
          </form>
        </div>
      {{/if}}
      <div class="button-container">
        <a class="anchor-button" href="/workout/{{_id}}/{{../rutina._id}}">Exercise detail</a>
        {{#unless ../rutina.done}}
          <form action="/delete/{{_id}}/{{../rutina._id}}" method="POST">
            <button type="submit" class="anchor-button">Delete</button>
          </form>
        {{/unless}}
      </div>
    </div>
  {{/each}}
  {{#unless rutina.done}}
  {{#if rutina.started}}
    <form action="/stop/{{rutina._id}}" method="POST" class="hidden-form">
      <input hidden id="counter" name="counter">
      <button id="stopButton" class=" anchor-button">Stop</button>
    </form>
    <p id="chrono" class="timer">00:00</p>
  {{ else }}
    <form action="/start/{{rutina._id}}" method="POST">
      <button id="startButton" class="start-button anchor-button">Start</button>
    </form>
  {{/if}}
  <a href="/exercises/{{rutina._id}}" class="anchor-button add-workout">Add an
    exercise</a>
  {{/unless}}
</div>
<script src="/js/rutina.script.js"></script>
