<div class="container-detail">
  <p class="card-title">{{rutina.name}}</p>
  <button class="start-button anchor-button">Start</button>
  {{#each workout }}
    <div class="workout-row">
      <div class="title-container">
        <p class="exercise-name">{{name}}</p>
      </div>
      <div class="input-container">
      <form action="/edit/{{_id}}/{{../rutina._id}}" method="POST">
      {{#if workout.needtime}}
      <input name="time" class="input-workout" type="number" value="{{time}}"/><span>Time</span>
      {{else}}
      <input name="repetition" class="input-workout" type="number" value="{{repetition}}"/><span>Rep.</span>
      <input name="weight" class="input-workout" type="number" value="{{weight}}"/><span>Kg.</span>
      {{/if}}
      <button type="submit" class="anchor-button">Save</button>
      </form>
      </div>
      <div class="button-container">
        <a class="anchor-button" href="">Exercise detail</a>
        <button class="anchor-button">Done</button>
        <form action="/delete/{{_id}}/{{../rutina._id}}" method="POST">
          <button type="submit" class="anchor-button">Delete</button>
        </form>
      </div>
    </div>
  {{/each}}
  <a href="/exercises/{{rutina._id}}" class="anchor-button add-workout">Add an exercise</a>

</div>
