<div class="box-detail">
  <h4 class="card-title">{{name}}</h4>
  <div class="detail-container">

    <div class="key-container">
      <p class="key">Body part</p>
      <p class="key">Target Muscle</p>
      <p class="key">Equipment</p>
    </div>
    <div class="answer-container">
      <p class="answer">{{bodyPart}}</p>
      <p class="answer">{{ target }}</p>
      <p class="answer">{{ Equipment }}</p>
    </div>

    <img src={{ gifUrl }} alt="ApiGIF" />

  </div>
  <a href="" class="anchor-button">Agregar</a>
</div>