<div class="box-detail">
  <h4 class="card-title">{{exercise.name}}</h4>
  <div class="detail-container">

    <div class="key-container">
      <p class="key">Body part</p>
      <p class="key">Target Muscle</p>
      <p class="key">Equipment</p>
    </div>
    <div class="answer-container">
      <p class="answer">{{exercise.bodyPart}}</p>
      <p class="answer">{{exercise.target}}</p>
      <p class="answer">{{exercise.equipment}}</p>
    </div>

    <img src={{exercise.gifUrl}} alt="{{exercise.name}}" />

  </div>
  <a href="" class="anchor-button">Agregar</a>
</div>