<h2 class="title-home mb">Liste des exercices </h2>

<table id="exercisesTable" class="table exercise-table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Body Part</th>
      <th>Target Muscle</th>
      <th>Equipment</th>
    </tr>
    <tr>
      <th><input
          type="text"
          id="exerciseSearch"
          onkeyup="searchExerciseByName()"
          placeholder="Barbell bench press"
        /></th>
      <th>
        <select name="selectbodyPart" id="selectBodyPart">
          {{#each allBodyParts}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </th>
      <th>
        <select name="selectTargetMuscle" id="selectTargetMuscle">
          {{#each allTargetMuscles}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </th>
      <th>
        <select name="selectEquipment" id="selectEquipment">
          {{#each allEquipments}}
            <option value="{{this}}">{{this}}</option>
          {{/each}}
        </select>
      </th>
    </tr>

  </thead>
  <tbody>
    {{#each exercisesList}}
      <tr>
        <td><a href="/exercises/exercise-detail/{{id}}">{{name}}</a></td>
        <td id="bodyPart">{{bodyPart}}</td>
        <td id="targetMuscle">{{target}}</td>
        <td id="equipment">{{equipment}}</td>
        {{#if ../rutinaId}}
          <td id="button-addWorkout">
            <form action="/add/{{id}}/{{../rutinaId}}" method="POST">
              <button class=" button is-primary is-outlined is-responsive anchor-button">
                Add to rutina
              </button>
            </form>
          </td>
          {{ else }}
          <td id="button-addWorkout">
            <button class=" button is-primary is-outlined is-responsive anchor-button">
              <a href="/addtorutina/{{id}}">Add to rutina</a>
            </button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>